[Desktop Entry]
Exec=websockify --wrap-mode=respawn --web /usr/share/novnc/ 5900 -- krfb --nofork
Terminal=false
Type=Application
X-DBUS-StartupType=unique
