[Desktop Entry]
Exec=websockify --web /usr/share/novnc/ 5900 -- x11vnc -repeat -shared -xdmsvc -nossl -ncache_cr
Terminal=false
Type=Application
X-DBUS-StartupType=unique
